/*
CSS for book-app
Created by Brandon Cossin
Started on 6/23/2021
*/
* {
    background-color: #C1C1C1;
}

/*
Home Page CSS
*/
.BookTabLogo {
    display: block;
}

.circleShape{
    padding-top: 100px;
    margin-top: auto;
    margin: auto;
    background: Linear-gradient(to right, #fb5283, #ff3527);
    border-top-left-radius: 280px;
    border-top-right-radius: 280px;
    height: 140px;
    width: 280px;
    text-align: center;
}

.form-container {
    position: relative;
    top: 6vh;
    background: #fff;
    padding: 30px;
    border-radius: 10px;
    box-shadow: 0px 0px 10px 0px #000;
    margin-bottom: 40%;
}
.settingPage{
    background-color: white;
    flex-wrap: wrap;
}
.container-fluid{
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    
}
.form-container p {
    margin-bottom: 5px;
    padding-left: 10;
    font-weight: bold;
    background-color: #fff;
    ;
}
.form-container h1,
.form-container h3,
.form-container h5,
.form-container h6,
.form-container b
{
    background-color: #fff;
}

.form-container input {
    width: 100%;
    margin-bottom: 20px;
}

.SearchBarRow {
    align-items: center;
}

.SearchBar {
    width: 80%;
    height: 3.2rem;
    background: #f5f5f5;
    outline: none;
    border: none;
    border-radius: 1.625rem;
    padding: 0 3.5rem 0 1.5rem;
    font-size: 1.2rem;
    margin-left: 5%;
    margin-right: 5%;
}

.SearchBar input:focus {
    outline: none;
    box-shadow: none;
}

.form-container input[type="text"],
input[type="password"] {
    border: none;
    border-bottom: 1px solid #191919;
    background: transparent;
    outline: none;
    height: 30px;
}

.form-container button[type="submit"] {
    border: none;
    outline: none;
    width: 85%;
    background: Linear-gradient(to right, #fb5283, #ff3527);
    color: white;
    text-align: center;
    margin-left: 7.5%;
    border-radius: 16px;
    margin-bottom: 20px;
}

.navbar {
    width: 100%;
    height: 15%;
}

.homeLogos {
    margin-top: 60px;
    text-align: center;
    margin: auto;
}
.likeIcon {
    text-align: center;
    margin: auto;
}
.homeLogos img {
    margin-top: 50px;
    height: 80px;
}

/*
Book List
*/
.BookResultLink {
    color: black;
}

.Book {
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    border: 1px solid transparent;
    border-radius: 10px;
    margin-bottom: 10px;
}

.BookResultInformation h2,
.BookResultInformation h5,
.BookResultInformation b,
.BookResultInformation {
    background-color: white;
}

.BookResultImage {
    background-color: white;
    border: 1px solid transparent;
    border-radius: 8px;
    padding-left: 15px;
    padding-right: 15px;
    padding-bottom: 15px;
    max-width: 25%;
    margin-right: -25px;
}

.BookResultButton {
    height: 40px;
    padding: 5px 10px;
    border: 0;
    outline: none;
    background: Linear-gradient(to right, #fb5283, #ff3527);
    color: white;
    border-radius: 10px;
    margin-bottom: 20px;
}
.likeIcon{
    height: 40px;
    pointer-events: none;
    padding: 3px 10px;
    margin-bottom: 20px;
    outline: none;
    color: black;
    background:
        linear-gradient(rgb(255, 255, 255), rgb(255, 254, 254)) padding-box,
        /*this is your grey background*/
        linear-gradient(to right, #fb5283, #ff3527) border-box;
    border: 2px solid transparent;
    border-radius: 10px;
}
.AddedListButton {
    height: 40px;
    pointer-events: none;
    padding: 3px 10px;
    margin-bottom: 20px;
    outline: none;
    color: black;
    background:
        linear-gradient(rgb(255, 255, 255), rgb(255, 254, 254)) padding-box,
        /*this is your grey background*/
        linear-gradient(to right, #fb5283, #ff3527) border-box;
    border: 2px solid transparent;
    border-radius: 10px;

}

.BookResultImage img {
    padding-top: 15px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 40%;
    background-color: white;
}

.BookResultInformation {
    padding-top: 15px;
    background-color: white;
    border: 1px solid transparent;
    border-radius: 8px;
    padding-left: 15px;
    padding-right: 15px;
}

button {
    color: black;
    padding: 10px 25px;
    background: transparent;
    border: 1px solid black;
    border-radius: 40px;
    outline: none;
}

.HomeContainer {
    display: flex;
    flex-direction: column;
    width: 100%;
    min-height: 100vh;
    padding-left: 8%;
    padding-right: 8%;
    box-sizing: border-box;
    overflow: hidden;
}

.HomeRow {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 60px 0;

}
.AuthorHeader{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
/*
Book Container for Book Result
*/
.BookContainer {
    background-color: white;
    border: 1px solid transparent;
    border-radius: 8px;
    padding-left: 15px;
    padding-right: 15px;
    max-width: 25%;
    margin-right: 25px;
}

.BookContainer img {
    padding-top: 15px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 60%;
    background-color: white;
}

.BookContainer p {
    background-color: white;
}

.BookContainer h5 {
    background-color: white;
}

.BookContainerInformation {
    padding-top: 15px;
    background-color: white;
    border: 1px solid transparent;
    border-radius: 8px;
    padding-left: 15px;
    padding-right: 15px;
}

.BookContainerInformation h1,
.BookContainerInformation h3,
.BookContainerInformation h5,
.BookContainerInformation p {
    background-color: white;
}

#listmessage,
#reviewmessage,
.addmessage {
    background-color: white;
}

.column-1 {
    flex-basis: 40%;
    position: relative;
    margin-left: -10px;
}

.col-1 h2 {
    font-size: 54px;
}

.col-1 h3 {
    font-size: 30px;
}

.NavButton {
    vertical-align: middle;
    padding: 5px 10px;
    border: 0;
    outline: none;
    background: Linear-gradient(to right, #fb5283, #ff3527);
    color: white;

    border-radius: 15px;
}

.HomeButton {
    margin-bottom: 15px;
    border: 0;
    margin-top: 10px;
    outline: none;
    background: Linear-gradient(to right, #fb5283, #ff3527);
    color: white;
    border-radius: 10px;
}

.AddedResultButton {
    pointer-events: none;
    margin-bottom: 15px;
    margin-top: 10px;
    outline: none;
    color: black;
    background:
        linear-gradient(rgb(255, 255, 255), rgb(255, 254, 254)) padding-box,
        /*this is your grey background*/
        linear-gradient(to right, #fb5283, #ff3527) border-box;
    padding: 6px 25px;
    border: 4px solid transparent;
    border-radius: 10px;

}



/*
Profile CSS
*/
.ProfileBookList img {
    padding-right: 5%;
    padding-top: 0;
    margin-top: 0;
    display: flex;
    width: 45%;
}

.ProfileContainer {
    display: block;
}

/*
Recent Activity
*/
.RecentActivity {
    margin-left: auto;
    margin-right: auto;
    padding-left: 60px;
    padding-right: auto;
    padding-top: 12px;
    border: 1px solid transparent;
    border-radius: 10px;
    margin-bottom: 10px;
    width: 90%;
    background-color: white;
}
.RecentActivity p, .RecentActivity h5, .RecentActivity b{
    background-color: white;
}
@media only screen and (min-width: 720px) {
    .ProfileContainer td:nth-child(2) {
        display: none;
    }

    .ProfileContainer th:nth-child(2) {
        display: none;
    }
}

/*
Mobile CSS
*/
@media only screen and (max-width: 720px) {
    .HomeRow {
        flex-direction: column-reverse;
        margin: 50px 0;
    }
    .HomeFooter{
        margin-top: 40px;
    }
    .circleShape{
        padding-top: 90px;
        border-top-left-radius: 240px;
        border-top-right-radius: 240px;
        height: 120px;
        width: 240px;
        text-align: center;
    }
    .homeLogos {
        position: absolute center;
        align-items: center;
        display: block;
    }

    .homeLogos img {
        height: 50px;
    }

    .row {
        flex-direction: column;
    }

    .SearchBar {
        width: 100%;
        margin-left: 0;
        margin-bottom: 5%;
    }

    .Book {
        margin-bottom: 20px;
    }

    .BookResultImage {
        max-width: 100%;
        margin-bottom: -20px;
    }

    .BookResultImage img {
        width: 50%;
    }

    .BookContainer img {
        width: 50%;
    }

    .BookContainer {
        max-width: 100%;
        margin-bottom: 20px;
    }

    .BookResultInformation h3 {
        font-size: 1.6rem;
    }

    .ProfileBookList {
        padding-right: 5%;
        display: flex;
        width: 100%;
    }

    .HomeContainer {
        width: 100%;
        min-height: 100vh;
        padding-left: 5%;
        padding-right: 8%;
        box-sizing: border-box;
        overflow: hidden;
    }

    

    

    /*
    Profile CSS mobile
    */
    .ProfileContainer {
        width: 100%;
        padding-left: 0;
    }

    .ProfileBookList img {
        width: 110%;
    }

    .ProfileContainer td:nth-child(3),
    .ProfileContainer th:nth-child(3),
    .ProfileContainer td:nth-child(4),
    .ProfileContainer th:nth-child(4) {
        display: none;
    }

    .ProfileContainer td:nth-child(4) {
        display: none;
    }

    .ProfileContainer th:nth-child(4) {
        display: none;
    }
}