/*
CSS for book-app
Created by Brandon Cossin
Started on 6/23/2021
*/
* {
    background-color: #C1C1C1;
}
/*
Home Page CSS
*/
.form-container{
    position: relative;
    top: 6vh;
    background: #fff;
    padding: 30px;
    border-radius: 10px;
    box-shadow: 0px 0px 10px 0px #000;
    margin-bottom: 50%;
}
.form-container p{
    margin-bottom: 5px;
    padding-left: 10;
    font-weight: bold;
    background-color: #fff;;
}
.form-container h3, h6{
    background-color: #fff;
}
.form-container input{
    width: 100%;
    margin-bottom: 20px;
}
.SearchBarRow{
    align-items: center;
}
.SearchBar{
    width: 90%;
  height: 3.2rem;
  background: #f5f5f5;
  outline: none;
  border: none;
  border-radius: 1.625rem;
  padding: 0 3.5rem 0 1.5rem;
  font-size: 1.2rem;
  margin-left: 5%;
}
.SearchBar input:focus{
    outline:none;
    box-shadow:none;
}
.form-container input[type="text"], input[type="password"]
{
    border: none;
    border-bottom: 1px solid #191919;
    background: transparent;
    outline: none;
    height: 30px;
}
.form-container button[type="submit"]{
    border: none;
    outline: none;
    height: 40px;
    width: 90%;
    background: #fb2525;
    color: #fff;
border-radius: 16px;
margin-bottom: 20px;
}
.navbar{
    width: 85%;
    height: 15%;
}
/*
Book Result Page CSS
*/
.BookResult{
    width: 100%;
    max-height: 20%; 
}
.BookResultImage img{
    padding-right: 5%;
    display: flex;
    width: 75%;
}

.BookResultInformation{
    max-width: 70%;
    display: inline;
    font-size: 1.2rem;
}
.BookResultLink{
    color: black;
}
button{
    color: black;
    padding: 10px 25px;
    background: transparent;
    border: 1px solid black;
    border-radius: 40px;
    outline: none;
}
.HomeContainer{
    width: 100%;
    min-height: 100vh;
    padding-left: 8%;
    padding-right: 8%;
    box-sizing: border-box;
    overflow: hidden;
}
.HomeRow{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 80px 0;

}
.column-1{
    flex-basis: 40%;
    position: relative;
    margin-left: -10px;
}
.col-1 h2{
    font-size: 54px;
}
.col-1 h3{
    font-size: 30px;
}
.HomeButton{
    border: 0;
    margin-top: 10px;
    outline: none;
    background: Linear-gradient(to right, #fb5283, #ff3527);
    border-radius: 10px;
}
.BookResult hr{
    height: 0px;
    border: none;
    border-top: 1px  solid #212121;
}
.HomeFooter{
    background-color: black !important;
}
/*
Profile CSS
*/
.ProfileBookList{
    padding-right: 5%;
    display: flex;
    width: 75%;
}
/*
Mobile CSS
*/
@media only screen and (max-width: 700px){
    .HomeRow{
        flex-direction: column-reverse;
        margin: 50px 0;
    }
    .SearchBar{
        width: 100%;
        margin-left: 0;
    }
    .BookResultImage{
        height: 10%;
        width: auto;
    }
    .BookResultInformation{
        font-size: 1.4rem;
        display: block;
        max-width: 50%;
    }
    .BookResultInformation h3{
        font-size: 1.6rem;
    }
}